// About Section
section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About
    |             
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
            |                             
            .timeline-panel
              .timeline-heading
                h4.subheading Our motivation
                p.text-muted
                  | There was a time when adventure was part of our lives. We were pushed to our limits every day and every night. When nature was just out there, a few meters away from our window. We decided to never leave it. We decided we wanted to take adventure closer to everyone who was searching for it. This is our statement.
          |                         
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
            |                             
            .timeline-panel
              .timeline-heading
                h4.subheading Our experience
              |                                 
              .timeline-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          |                                             
          |                         
          li.timeline-inverted
            a.page-scroll(href='#portfolio')
              .timeline-image
                h4
                  | Make
                  br
                  | your own
                  |                                     
                  br
                  | Adventure