// Portfolio Grid Section
section#portfolio.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Results
          |                     
          h5.section-subheading.text-muted Find your adventure
      
      if !results 
               
        .row
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              |                         
              img.img-responsive(src='img/portfolio/roundicons.png', alt='')
            |                     
            .portfolio-caption
              h4 Round Icons
              |                         
              p.text-muted Graphic Design
          |                 
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              |                         
              img.img-responsive(src='img/portfolio/startup-framework.png', alt='')
            |                     
            .portfolio-caption
              h4 Startup Framework
              |                         
              p.text-muted Website Design
          |                 
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              |                         
              img.img-responsive(src='img/portfolio/treehouse.png', alt='')
            |                     
            .portfolio-caption
              h4 Treehouse
              |                         
              p.text-muted Website Design
          |                 
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              |                         
              img.img-responsive(src='img/portfolio/golden.png', alt='')
            |                     
            .portfolio-caption
              h4 Golden
              |                         
              p.text-muted Website Design
          |                 
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              |                         
              img.img-responsive(src='img/portfolio/escape.png', alt='')
            |                     
            .portfolio-caption
              h4 Escape
              |                         
              p.text-muted Website Design
          |                 
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  i.fa.fa-plus.fa-3x
              |                         
              img.img-responsive(src='img/portfolio/dreams.png', alt='')
            |                     
            .portfolio-caption
              h4 Dreams
              |                         
              p.text-muted Website Design
      else 
        .row
          for result in results
            .col-md-4.col-sm-6.portfolio-item
              a.portfolio-link(href='##{result._id}', data-toggle='modal')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fa.fa-plus.fa-3x
                |                         
                img.img-responsive(src= "#{result.thumb_path}", alt='')
              |                     
              .portfolio-caption
                h4 #{result.title}
                |                         
                p.text-muted $#{result.price} dollars/person

