extends layout

block content
    include partials/navbar
    include partials/header
    include partials/whatsthis
    include partials/search
    include partials/about
    include partials/team
    include contact
    include partials/footer

